@page
@model MyWebApplication.Pages.Velos.EditModel
@{
}

<br />
<h2>Edit Cycle Station</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class='alert alert-warning alert-dismissible fade show' role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form method="POST">
    <input type="hidden" name="id" value="@Model.veloInfo.id">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Station</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="station" value=" @Model.veloInfo.station">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">nbreBornettesLibres</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="nbreBornettesLibres" value="@Model.veloInfo.nbreBornettesLibres">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">velosDispo</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="velosDispo" value="@Model.veloInfo.velosDispo">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">veloManuelle</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="veloManuelle" value="@Model.veloInfo.veloManuelle">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">veloElectriques</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="veloElectriques" value="@Model.veloInfo.veloElectriques">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">bornePaiement</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="bornePaiement" value="@Model.veloInfo.bornePaiement">
        </div>
    </div>

    @if (Model.successMessage.Length > 0)
    {
    <div class="row mb-3">
        <div class="col-sm-9">
            <div class='alert alert-warning alert-dismissible fade show' role="alert">
                <strong>@Model.successMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>
    </div>


</form>
